<html lang="en-GB">
  <h1>Editing item</h1>

  <%= render "form", item: @item %>


  <div>
    <div class = "hstack gap-2">
      <%= link_to "Show this item", @item, class: "btn btn-secondary" %>
      <a href="/items">
        <button type="button" class="btn btn-secondary">Back to items</button>
      </a>
    </div>
  </div>

  <br>
  <p class="text-center"> Please note - if you are inactive for more than 5 minutes you will be logged out and may lose any unsaved data </p>

</html>