<html lang="en-GB">
  <h1>Editing item</h1>

  <%= render "form", item: @item %>

  <br>

  <div>
    <div class = "hstack gap-2">
      <%= link_to "Show this item", @item, class: "btn btn-secondary" %>
      <a href="/items">
        <button type="button" class="btn btn-secondary">Back to items</button>
      </a>
    </div>
  </div>
</html>