<html lang="en-GB">
  <h1>New item</h1>
  <hr>

  <%= render "form", item: @item %>

  <br>

  <div>
    <%#= button_to "Back to items", items_path, class: "btn btn-outline-secondary" %>
    <a href="/items">
      <button type="button" class="btn btn-secondary btn">Back to items</button>
    </a>
  </div>

  <br>
  <p class="text-center"> Please note - if you are inactive for more than 5 minutes you will be logged out and may lose any unsaved data </p>
</html>
