<html lang="en-GB">
<style>
  h1{text-align: center}
</style>

<h1><%= "Full Items List" %></h1>

<div id="items">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <% if item.user == Current.user %>
        <tr scope="row">
          <td style="width: 25%">
            <%= item.name %>
          </td>
          <td style="white-space: normal; width: 40%">
            <%= item.description %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
