<div class="card text-bg-light mb-3 mb-3" style="max-width: 55rem;">
  <div class="card-body">
    <h4 class="card-title text-center">What is Journal App?</h4>
    <p class="card-text">
      Journal App is a notes style task app, designed to make tracking learning easy.
      With a dynamic sign in page and an easy to use task management system, it's the perfect place to keep track of your learning.
      With Journal App, you can see what learning you have done, record your knowledge and list your new learning ventures.
    </p>
  </div>
</div>