<div class="card text-bg-light mb-3 mb-3" style="max-width: 55rem;">
  <div class="card-body">
    <h4 class="card-title text-center">How can you use Journal App?</h4>
    <p class="card-text">
      Create an account to make and save notes and refer back to your resources regularly.
      You can store learning links to Udemy, edX, CS50 or other online courses, make notes of your progress and
      you can plan ahead by noting what you want to learn in the future. Use Journal App to take full control of your learning today.
    </p>
  </div>
</div>