<div class="card text-bg-light mb-3 mb-3" style="max-width: 55rem;">
  <div class="card-body">
    <h4 class="card-title text-center">How much does Journal App cost?</h4>
    <p class="card-text">
      Journal App is free as it currently uses local machine based active storage methods and runs at a small scale.
      Should Journal App scale up to using an integrated cloud storage service to hold data, it is possible that a
      tiered membership access model will be trialed.
    </p>
  </div>
</div>