<html lang="en-GB">
  <h1>About Journal</h1>
  <hr>

  <div class = "d-flex align-items-center justify-content-center vstack gap-2">
      <%= render partial: "about/card-upper"%>
      <%= render partial: "about/card-second"%>
      <%= render partial: "about/card-third"%>
  </div>

  <div class = "d-flex align-items-center justify-content-center">
    <%= render partial: "about/sign-up-button"%>
  </div>
</html>
